@import 'framework';

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');

body {
  height: 100vh;
  background: $color-grey-1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: $color-grey-5;
}

.button {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  background: $color-purple;
  box-shadow: $shadow-purple;

  .trigger {
    width: 96px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    span {
      position: relative;
      width: 100%;
      height: 12px;
      transform: translateY(24px);
      background-color: white;
      display: block;
      border-radius: 9px;
      animation: opacityOn 0.5s linear both;

      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 12px;
        background-color: white;
        display: block;
        border-radius: 9px;
      }
      &::before {
        transform: translateY(-24px);
        animation: downAndTurnReverse 0.5s linear both;
      }
      &::after {
        transform: translateY(24px);
        animation: upAndTurnReverse 0.5s linear both;
      }
    }

    &.active {
      span {
        animation: opacityOff 0.5s linear both;

        &::before {
          animation: downAndTurn 0.5s linear both;
        }
        &::after {
          animation: upAndTurn 0.5s linear both;
        }
      }
    }
  }
}
//animations
@keyframes downAndTurn {
  0% {
    transform: translateY(-24px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(45deg);
  }
}
@keyframes downAndTurnReverse {
  0% {
    transform: translateY(0) rotate(45deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(-24px) rotate(0deg);
  }
}
@keyframes upAndTurn {
  0% {
    transform: translateY(24px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(-45deg);
  }
}
@keyframes upAndTurnReverse {
  0% {
    transform: translateY(0px) rotate(-45deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(24px) rotate(0deg);
  }
}
@keyframes opacityOff {
  0% {
    background-color: rgba($color: white, $alpha: 1);
  }
  49% {
    background-color: rgba($color: white, $alpha: 1);
  }
  50% {
    background-color: rgba($color: white, $alpha: 0);
  }
  100% {
    background-color: rgba($color: white, $alpha: 0);
  }
}
@keyframes opacityOn {
  0% {
    background-color: rgba($color: white, $alpha: 0);
  }
  49% {
    background-color: rgba($color: white, $alpha: 0);
  }
  50% {
    background-color: rgba($color: white, $alpha: 1);
  }
  100% {
    background-color: rgba($color: white, $alpha: 1);
  }
}

.jssecrets {
  font-weight: 500;
  text-decoration: none !important;
  font-family: 'Urbanist';
  padding: 16px;
  background: #ffc805;
  color: #000000;
  font-size: 1.2em;
  letter-spacing: 0.2px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px #b8900030, 0px 8px 24px #b8900060;
  position: absolute;
  bottom: 24px;
  right: 24px;
  transition: all 0.3s;
  &:hover {
    transform: translateY(-4px);
  }
}
